<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</p>
<p>
<%= link_to 'New Post', new_post_path %>
</p>

<table>
  <% @posts.reverse.each do |post| %>
    <tr>
      <td>
        <%= link_to post.user.name, user_path(post.user) %><br/>
        <%= time_ago_in_words(post.created_at) %> ago
      </td>
    </tr>
    <tr>
      <td><%= post.caption %></td>
    </tr>
    <tr>
      <td><%= link_to image_tag(post.image.url(:medium)), post if post.image.exists? %></td>
    </tr>
    <tr>
      <td>
        <% if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br>
