<p id="notice"><%= notice %></p>

<p>
  <%= @post.caption %>
</p>

<%= image_tag @post.image.url(:large) if @post.image.exists? %><br/>

<%= link_to 'Edit', edit_post_path(@post) if current_user == @post.user %>
<%= link_to 'Back', posts_path %>
