<!DOCTYPE html>
<html>
  <head>
    <title>FacebookLaite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <table>
      <% if user_signed_in? %>
        <tr>
          <td><h1><%= link_to "Facebook Laite", root_path %></h1></td>
          <td><%= image_tag current_user.gravatar_url(size: 30, default: 'mm') %></td>
          <td><h3><%= link_to current_user.name, user_path(current_user) %></h3></td>
          <td><h3><%= link_to "Home", root_path %></h3></td>
          <td><h3><%= link_to 'New Post', new_post_path %></h3></td>
          <td><h3><%= link_to "Log out", destroy_user_session_path, method: :delete %></h3></td>
        </tr>
      <% else %>
        <tr>
          <td><h1>Facebook Laite</h1></td>
        </tr>
      <% end %>
    </table>
    <%= yield %>
  </body>
</html>
